@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Credits</h3>

        <table class="table-bordered">
            <tr>
                <td>
                    <p>Credit type</p>
                </td>
                <td>
                    <p>Credit period</p>
                </td>
                <td>
                    <p>Max sum</p>
                </td>
                <td>
                    <p>Interest rate</p>
                </td>
            </tr>

            @foreach (var c in ViewBag.Credits)
            {
                <tr>
                    <td>
                        <p>@c.Head</p>
                    </td>
                    <td>
                        <p>@c.Period</p>
                    </td>
                    <td>
                        <p>@c.Sum</p>
                    </td>
                    <td>
                        <p>@c.Procent</p>
                    </td>
                </tr>
            }

        </table>

        <p>
            <a asp-controller="Home" asp-action="CreateBid">Apply for credit &raquo;</a>
        </p>
    </div>
</div>
