<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/site.css" />
</head>

<body>
    <h1>Welcome WebMVCR1</h1>

    <div style=" padding: 20px; border: solid medium green; font-size: 20pt " >
        @RenderBody()
    </div>
</body>

</html>
